<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addr" class="e_commerce_frontend.Address" >
        <property name="city" value="kolkata" />
        </bean>
    
    <bean id="emp" class="e_commerce_frontend.Employee" >
        <constructor-arg type = "java.lang.String" value = "Satadru"/>
        <constructor-arg ref = "addr"/>
    </bean>
</beans>